analytics/data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22b7ed29417a490c",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "e65bc8655b276676",
                "7000e61d71b053ea",
                "01fb81e26867440b"
            ]
        ]
    },
    {
        "id": "740d3d030d2744a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.docker.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "status/analysis/alive",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{\"alive\":\"true\"}",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "status/analysis/alive",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{\"alive\":\"false\"}",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "84970ec00a8b9a0c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.20.189",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "230ade26b1a35092",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "equipment_monitoring/count_trigger/#",
        "qos": "1",
        "datatype": "json",
        "broker": "740d3d030d2744a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "1aef5ee929a149d5",
                "687180fcb8d72926",
                "0363a6742b6fe2d5"
            ]
        ]
    },
    {
        "id": "1aef5ee929a149d5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "67c81a08838e8841",
        "type": "trigger",
        "z": "f6f2187d.f17ca8",
        "name": "Trigger",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "250",
        "extend": true,
        "overrideDelay": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "5bdc59a389fd95b7",
                "c61e5a54a5a53490",
                "34ac96f384204715"
            ],
            [
                "377e05230ade4b9e"
            ]
        ]
    },
    {
        "id": "7f820f0c8a1296a1",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "Read Config",
        "filename": "/config/config.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "6f44e5a9895999a4"
            ]
        ]
    },
    {
        "id": "828dbbbb7ddda2b2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "On Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "7f820f0c8a1296a1"
            ]
        ]
    },
    {
        "id": "6f44e5a9895999a4",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "a310563bf86f5226",
                "81cc8562123c0ef5"
            ]
        ]
    },
    {
        "id": "a310563bf86f5226",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Config",
        "rules": [
            {
                "t": "set",
                "p": "thresholds",
                "pt": "flow",
                "to": "payload.thresholds",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "down_threshold",
                "pt": "flow",
                "to": "payload.down_threshold",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "81cc8562123c0ef5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Config",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "687180fcb8d72926",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set time threshold",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "down_threshold",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 560,
        "wires": [
            [
                "67c81a08838e8841"
            ]
        ],
        "info": "Injects the stop_threshold from the flow context as the trigger delay"
    },
    {
        "id": "33c6a1c5b6cc6f85",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Load config variable from file",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "e4057a889761d30f",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Send \"stopped\" message if nothing has been received for specified time period ",
        "info": "",
        "x": 1200,
        "y": 620,
        "wires": []
    },
    {
        "id": "e65bc8655b276676",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "740d3d030d2744a2",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "4e234ddac12914ed",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Stopped Msg & Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"auto_input/stoppages/\"&payload.id&\"/stopped\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"running\":false,\t    \"timestamp\":payload.timestamp,\t    \"machine_name\":payload.id,\t    \"status\":\"Unspecified\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "22b7ed29417a490c"
            ]
        ]
    },
    {
        "id": "5bdc59a389fd95b7",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Running Msg & Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"auto_input/stoppages/\"&payload.id&\"/running\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"running\":true,\t   \"timestamp\":payload.timestamp,\t   \"machine_name\":payload.id,\t   \"status\":\"Running\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 460,
        "wires": [
            [
                "22b7ed29417a490c"
            ]
        ]
    },
    {
        "id": "c61e5a54a5a53490",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Running",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "61447a147b663473",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Stopped",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "7000e61d71b053ea",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Running Out",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 260,
        "wires": []
    },
    {
        "id": "2e83f4f22a9d3013",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Send \"running\" message",
        "info": "Sends when message is received and \ntrigger is not currently waiting \n(i.e. previous message was a \"stopped\")\n",
        "x": 1020,
        "y": 400,
        "wires": []
    },
    {
        "id": "808e5c0f5853d7dd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create UI Event",
        "func": "let machine = msg.original.id\nlet event_ids = flow.get(\"event_ids\") ?? {}\nlet machine_stops = flow.get(\"machine_stops\") ?? {}\nlet event_id = msg.payload\n\n\nmsg.topic = \"event_sm/\"+machine\nmsg.payload = {\n    event_id:event_id,\n    stop:msg.original.timestamp,\n    machine_name: machine\n}\nmsg.qos= 0\nmsg.retain= false\n\nevent_ids[machine] = event_id\nflow.set(\"event_ids\",event_ids)\n\n\nmachine_stops[machine] = msg.original.timestamp\nflow.set(\"machine_stops\", machine_stops)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 900,
        "wires": [
            [
                "4d23bf49bc5653b4"
            ]
        ]
    },
    {
        "id": "0e64f51a66ba3ce7",
        "type": "UUID",
        "z": "f6f2187d.f17ca8",
        "name": "UUID",
        "format": "Hex",
        "x": 670,
        "y": 900,
        "wires": [
            [
                "808e5c0f5853d7dd"
            ]
        ]
    },
    {
        "id": "4d23bf49bc5653b4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "UI Stop Event",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 920,
        "wires": []
    },
    {
        "id": "960b9102f2843df4",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "original",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 900,
        "wires": [
            [
                "0e64f51a66ba3ce7"
            ]
        ]
    },
    {
        "id": "7dd13e0f94333bd1",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Create UI Event",
        "func": "const designations = [\n    ['DT', 24*60*60],\n    ['H', 60*60],\n    ['M', 60],\n    ['S', 1],\n];\n\nlet machine = msg.payload.id\nlet event_ids = flow.get(\"event_ids\") ?? {}\nlet event_id = event_ids[machine]\n\nlet machine_stops = flow.get(\"machine_stops\") ?? {}\nlet stop = machine_stops[machine]\n\nlet remainder = Date.parse(msg.payload.timestamp) - Date.parse(stop);\nremainder = remainder/1000\nlet duration = 'P';\n\nfor (let i = 0; i < designations.length; i++)\n{\n    let sign = designations[i][0]\n    let n_seconds = Number(designations[i][1])\n    const value = Math.floor(remainder / n_seconds);\n    remainder = remainder % n_seconds;\n    duration += `${value}${sign}`;\n}\n\nif (duration == 'P') {\n    duration = 'P0S';\n}\n\nmsg.topic = \"event_sm/\"+machine\nmsg.payload = {\n    event_id:event_id,\n    stop:stop,\n    machine_name: machine,\n    duration: duration\n}\nmsg.qos= 0\nmsg.retain= false\n\nevent_ids[machine] = event_id\nflow.set(\"event_ids\",event_ids)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 860,
        "wires": [
            [
                "f8b9d961ae1b5c28"
            ]
        ]
    },
    {
        "id": "f8b9d961ae1b5c28",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "UI Start Event",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "377e05230ade4b9e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Fix timestamp",
        "func": "msg.payload.timestamp = new Date().toISOString().replace('Z', '+00:00')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 580,
        "wires": [
            [
                "61447a147b663473",
                "4e234ddac12914ed",
                "cddb5cfd0aa86b5f"
            ]
        ]
    },
    {
        "id": "0674c8c2fc937de6",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Running Status",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"equipment_monitoring/status/\"&payload.id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"running\":true,\t   \"timestamp\":payload.timestamp,\t   \"id\":payload.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "6d0939985d748871"
            ]
        ]
    },
    {
        "id": "3222c70f163ce991",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Stopped Status",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"equipment_monitoring/status/\"&payload.id",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"running\":false,\t    \"timestamp\":payload.timestamp,\t    \"id\":payload.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 760,
        "wires": [
            [
                "6d0939985d748871"
            ]
        ]
    },
    {
        "id": "34ac96f384204715",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "running",
        "mode": "link",
        "links": [
            "8a729756bd18fcb5",
            "0c4d20d4353ee171"
        ],
        "x": 595,
        "y": 720,
        "wires": []
    },
    {
        "id": "8a729756bd18fcb5",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "UI Running",
        "links": [
            "34ac96f384204715"
        ],
        "x": 695,
        "y": 860,
        "wires": [
            [
                "7dd13e0f94333bd1"
            ]
        ]
    },
    {
        "id": "0c4d20d4353ee171",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "status running",
        "links": [
            "34ac96f384204715"
        ],
        "x": 685,
        "y": 720,
        "wires": [
            [
                "0674c8c2fc937de6"
            ]
        ]
    },
    {
        "id": "f371c59a45ac6762",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt out",
        "links": [
            "6d0939985d748871",
            "ba49f462a67066e3"
        ],
        "x": 1195,
        "y": 520,
        "wires": [
            [
                "e65bc8655b276676",
                "01fb81e26867440b"
            ]
        ]
    },
    {
        "id": "6d0939985d748871",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "status out",
        "mode": "link",
        "links": [
            "f371c59a45ac6762"
        ],
        "x": 965,
        "y": 740,
        "wires": []
    },
    {
        "id": "cddb5cfd0aa86b5f",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "stopped",
        "mode": "link",
        "links": [
            "1789fd4e92471438",
            "b895aa9ce2aea53a"
        ],
        "x": 965,
        "y": 660,
        "wires": []
    },
    {
        "id": "1789fd4e92471438",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "status stopped",
        "links": [
            "cddb5cfd0aa86b5f"
        ],
        "x": 685,
        "y": 760,
        "wires": [
            [
                "3222c70f163ce991"
            ]
        ]
    },
    {
        "id": "7d857db183fcd6ac",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Send status messages",
        "info": "",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "ba49f462a67066e3",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "status out",
        "mode": "link",
        "links": [
            "f371c59a45ac6762"
        ],
        "x": 965,
        "y": 880,
        "wires": []
    },
    {
        "id": "b895aa9ce2aea53a",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "ui stopped",
        "links": [
            "cddb5cfd0aa86b5f"
        ],
        "x": 385,
        "y": 900,
        "wires": [
            [
                "960b9102f2843df4"
            ]
        ]
    },
    {
        "id": "bc34849fb71863be",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Send ui event messages",
        "info": "",
        "x": 810,
        "y": 820,
        "wires": []
    },
    {
        "id": "5bca6394177f0ab5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "64bf71fc8240db29",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "740d3d030d2744a2",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b023327024491b3",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"analysis/can_count/\"&payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6cee5b5626e066ff",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Determine number of products from duration value",
        "info": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "0363a6742b6fe2d5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Set count",
        "func": "var new_msg = {...msg}\nvar thresholds = flow.get(\"thresholds\")\n// node.warn(JSON.stringify(thresholds));\nvar count = 0\nthresholds.forEach(function(entry) {\n    if (new_msg.payload.duration > entry.threshold)\n        count = entry.value  \n});\n\nnew_msg.payload.count = count\nnew_msg.id = msg.id\n\n// node.warn(JSON.stringify(new_msg));\nreturn new_msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "5bca6394177f0ab5",
                "8b023327024491b3"
            ]
        ]
    },
    {
        "id": "01fb81e26867440b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT OUT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 680,
        "wires": []
    }
]